@charset "utf-8";
/* CSS Document */

#main {
	border: 2px ridge blue;
	margin: auto;
	background: url(../images/background.jpg);
	height: 663px;
	width: 1024px;
}

.title {
	padding-top: 20px;
}

.output {
	float: left;
	margin-top: 50px;
	margin-left: 30px;
	background: #C4C4C4;
	height: 350px;
	width: 450px;
	border: 2px solid;
}

.control {
	float: right;
	margin-top: 30px;
	height: 350px;
	width: 450px;
}

.compusory {
	color: red;
}

ul {
	list-style-type: none;
}

.argName {
	font-family: Sans-serif;
}

#submit {
	height: 35px;
	width: 70px;
	font-size: 14px;
	background-color: royalblue;
	color: white;
}

#console {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 2px groove black;
	background-color: white;
	margin-left: 5px;
	height: 260px;
	width: 427px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-left: 10px;
}